.outer {
    height: 100%;
    width: 100%;
    background-color: #D5E1EF;

    display: flex;
    justify-content: center;
    align-items: center;
}

$padding: 1rem;
$border-radius: 1rem;
$p-color: #848389;
$shadow-color: rgba(0, 0, 0, 0.25);

.container {
    background-color: white;
    border-radius: $border-radius;
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 22rem;

    box-shadow: $shadow-color 0.5rem 0.5rem 1rem;
}

.text {
    padding: 1rem;
    text-align: center;

    p {
        color:$p-color;
    }
}

.image_container {
    position: relative;
    border-radius: $border-radius;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset $shadow-color 0 0 0.5rem;
        z-index: 1;
    }

    img {
        width: 100%;
    }

}
